.idea
*.iml
*.csv
node_modules
package-lock.json
package.json
yarn.lock
dist
dist-doc
yarn-error.log
.DS_Store
script/credentials.py
script/input/output.csv
script/input/adomni_device_data9-16-19.csv
Tuo_workingfolder/DynamoDBtoCSV-master
*.pyc
examples/intro-example/dags/credentials.py
examples/intro-example/script/credentials.py
athena_script/credentials.py
